<h2>Comment on <%= @contest.title %></h2>
<div id="comments_panel">
<div class="fb-comments" data-href="<%= contest_url(@contest.url_attributes) %>" data-num-posts="2" data-width="550"></div>
</div><!--comments_panel-->
