<%= link_to image_tag_for_contest(contest), contest_path(contest.url_attributes)%>
<div class="CLInfo">
  <h3><%=contest.title%></h3>
  <span>By <%=link_to_user(contest.username)%></span>
  <div class="Desc">
    <p><%=contest.description%></p>
      <div class="FloatLeft"><span class="Sprite IcoErs"></span>2127</div>
      <div class="FloatRight"><span class="Sprite IcoIks"></span>67</div>
      <div class="Clear"></div>
  </div>
</div>