<div class="disclaimer">
Submitting this form implies that you agree to abide by c2w.com <%= link_to 'terms of use', comatose_wcms_path(:region => "in", :page => 'terms'), :target => '_blank' %>.
</div>
