<div id="qf_url_form" class="media_tab_body row" >
	<label for="question_image">Enter a YouTube Video URL</label>
	<%= f.text_field :external_video_url, :maxlength => 200, :size => 70 %>
    <span class="tip" style="display:block">Example: http://youtube.com/watch?v=f0Y4FHTTHDU</span>
</div>
