<% @title = 'New Crossword' %>

<% form_for :contest, @quiz, :html => {:onsubmit => '$("submit_button").disable()'} do |f| %>
<%= render :partial => 'contests/form', :locals => {:f => f} %>
<!--<%= submit_tag "Continue...", :id => 'submit_button' %></td>-->
<% end %>
<%= render :partial => 'contests/disclaimer' %>
