<footer>
	<div class="WrapBox">
		<div class="FNav">
			<%= link_to 'About Us', 'http://blog.c2w.com/about-us/' %> |
	    <%= link_to 'Contact Us', 'http://blog.c2w.com/contact-us/' %> |
	    <%= link_to 'Advertise With Us', 'http://blog.c2w.com/contact-us/advertise-with-us/' %> |
	    <%= link_to 'Media Releases', 'http://blog.c2w.com/media-releases/' %> |
	    <%= link_to 'FAQs', 'http://blog.c2w.com/faqs/' %> |
	    <%= link_to 'Privacy Policy', 'http://blog.c2w.com/about-us/privacy-policy/' %> |
	    <%= link_to 'Terms &amp; Conditions', 'http://blog.c2w.com/about-us/terms-and-conditions/' %>
		</div>
		<div class="Clear"></div>
		<div class="copyright">Copyright&copy; <a href="#">c2win</a>. All rights reserved.</div>
		
	</div>
</footer>